/*цвет основного текста #212121 */

/*вторичный цвет текста #757575 */

/* белый #FFFFFF */

/* вторичный цвет фона "наша команда" #F5F4FA */

/*акцент #2196F3 */

/* цвет почты и ном телефона футер rgba(255, 255, 255, 0.6); */

/*футер бекграунд #2F303A */

:root {
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-white-color: rgba(255, 255, 255, 0.6);
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --secondary-grey-bg-color: #f5f4fa;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  width: 1600px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid tomato;
}

.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.logo {
  color: var(--title-text-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.web-logo {
  color: var(--accent-color);
}

/*Site nav*/

.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link.is-current {
  color: var(--accent-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.header-adress .adress-link {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.adress-link:hover,
.adress-link:focus {
  color: var(--accent-color);
}

/*Section*/

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  margin-top: 0px;
  margin-bottom: 0px;
}

/*Hero*/

.hero-section {
  background-color: var(--secondary-bg-color);

  text-align: center;
}

.hero {
  color: var(--secondary-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 40px;
}
/*Button*/

.button-text {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
}

.button {
  display: inline-block;
  background-color: var(--accent-color);
  font-family: inherit;
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
}

/*Features*/

.features-section {
}

.features .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 0px;
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
  margin-top: 0px;
  margin-bottom: 0px;
}

/*Чем мы занимаемся*/
.what-we-do-section {
}

/*Наша команда*/

.our-team-section {
  background-color: var(--secondary-grey-bg-color);
}

.our-team .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-top: 0px;
  margin-bottom: 0px;
}

.profession {
  font-size: 16px;
  line-height: 1.18;
  margin-top: 0px;
  margin-bottom: 0px;
}

/*Footer*/

.footer {
  background-color: var(--secondary-bg-color);
}

.footer-logo {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  font-family: Raleway;
  letter-spacing: 0.03em;
}

.footer-adress .link {
  color: var(--secondary-text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}

.footer-contact {
  color: var(--secondary-white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.footer-contact:hover,
.footer-contact:focus {
  color: var(--accent-color);
}

/*--------------------Portfolio-------------------*/

.buttons-section {
}

.port-button {
  font-family: inherit;
  background-color: var(--secondary-grey-bg-color);
  color: var(--title-text-color);
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  text-align: center;
}

.port-button-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}

.port-button:hover,
.port-button:focus {
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
}

/*Список работ Works*/

.works-section {
}

.works-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0px;
  margin-bottom: 0px;
}

.works-description {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
  margin-top: 0px;
  margin-bottom: 0px;
}

.works-examples {
  text-decoration: none;
}

.letsflex {
  display: flex;
}
